
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
section{
    position: relative;
    min-height: 100vh;
    background: #fee648;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.contenedor{
    position: relative;
    width: 800px;
    height: 500px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.contenedor .caja,.caja2{
  width: 800px;
  height: 500px;
  position: relative;
}
.contenedor .caja1 .boximg{
  width: 400px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 0px;
  
}
.contenedor .caja2 .boximg{
  width: 400px;
  height: 500px;
  position: absolute;
  top: 0px;
  right: 0px;
  
}
.contenedor .caja1 .boximg img{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 3;
  
}
.contenedor .caja2 .boximg img{
  width: 100%;
  height: 100%;
  top: 0px;
  position: absolute;
  object-fit: cover;
  
}
.contenedor .caja1 form{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 500px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.contenedor .caja2 form{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 500px;
  background-color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
button{
  width: 5em;
  height: 25px;
  outline: none;
  border: none;
  background-color: hotpink;
  color: white;
  border-radius: 5px;
}
input{
  height: 30px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(218, 218, 218);
  margin-bottom: 1em;
  width: 90%;
}
h1{
  text-align: center;
  color: rgb(68, 68, 68);
  font-family: arial;
  margin-bottom: 1em;
}
p{
  margin-top: 1em;
  color: rgb(160, 160, 160);
}
a{
  margin-left: 1em;
  text-decoration: none;
  font-family: arial;
  color: black;
}
.active .caja1 form{
  right:  0px;
}
.active  .caja1 .boximg{
  right: -400px;
  z-index: 1;
  
}
.active  .caja2 form{
  left: 0px;
  
}
.active  .caja2 .boximg img{
  right: 0px;
  z-index: 4;
  
}


